<h1>WareHouse App</h1>

<h3>Boas vindas ao sistema de gestão de estoques</h3>

<h2>Galpões Cadastrados</h2>

<table class="table">
  <thead>
    <tr>
      <th>Galpão</th>
      <th>Código</th>
    </tr>
  </thead>
  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= link_to warehouse.name, warehouse %></td>
        <td>[<%= warehouse.code %>]</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= '(não há galpões cadastrados)' if @warehouses.empty? %>