<h1>WareHouse App</h1>

<h3>Boas vindas ao sistema de gestão de estoques</h3>

<h2>Galpões Cadastrados</h2>
<% @warehouses.each do |warehouse| %>
  <%= link_to warehouse.name, warehouse %>
  <%= warehouse.code %>>
<% end %>