<h1>WareHouse App</h1>

<h3>Boas vindas ao sistema de gestão de estoques</h3>

<h2>Galpões Cadastrados</h2>
<dl>
  <% @warehouses.each do |warehouse| %>
    <dt><%= warehouse.name %></dt>
    <dd><%= warehouse.code %></dd>
  <% end %>
</dl>