body {
  color: rgb(58, 58, 58);
}

.special-link {
  color: inherit;
  padding: 3px;

}

.special-link:hover {
  background-color: black;
  color: rgb(224, 224, 224);
  border-radius: 3px;
  padding: 3px;
}