<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <p>Feito com &#x2764; por <a class='special-link' href="https://github.com/lxrms" target="_blank">Alex Ramos</a></p>
    </p>
  </div>
</footer>